@model List<ResultTestimonialVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Testimonial</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Testimonial List </div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							You can do proceesses for TESTIMONIAL from below
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Name</th>
									<th scope="col">Title</th>
									<th scope="col">Comment</th>
									<th scope="col">ImageUrl</th>
									<th scope="col">Status</th>
									<th scope="col">Delete</th>
									<th scope="col">Update</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<th>@count</th>
										<td>@item.Name</td>
										<td>@item.Title</td>
										<td>@item.Comment</td>
										<td>@item.ImageUrl</td>
										<td>@item.Status</td>
										<td><a class="btn btn-outline-danger" asp-controller="Testimonial" asp-action="DeleteTestimonial" asp-route-id=@item.TestimonialID>Delete</a></td>
										<td><a class="btn btn-outline-success" asp-controller="Testimonial" asp-action="UpdateTestimonial" asp-route-id=@item.TestimonialID>Update</a></td>

									</tr>
								}

							</tbody>
						</table>
						<a asp-controller="Testimonial" asp-action="CreateTestimonial" class="btn btn-outline-primary">Add New Testimonial</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

